# Build #
#########
MANIFEST.MF
dependency-reduced-pom.xml
.checkstyle

# Compiled #
############
bin
build
dist
out
run
target
*.com
*.class
*.dll
*.exe
*.o
*.so

# Databases #
#############
*.db
*.sql
*.sqlite

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Repository #
##############
.git

# Logging #
###########
/logs
*.log

# Misc #
########
*.bak

# System #
##########
.DS_Store
ehthumbs.db
Thumbs.db

# Project #
###########
.classpath
.externalToolBuilders
.gradle
.nb-gradle
.idea
.project
.settings
eclipse
nbproject
atlassian-ide-plugin.xml
build.xml
nb-configuration.xml
*.iml
*.ipr
*.iws

# Spigot Lib Jar files #
####################
/spigot/**/lib/*.jar

# Test Files #
##############
/forge/**/saves
/forge/**/elementArrows/*.json
/forge/**/crash-reports
/forge/**/resourcepacks
/forge/**/screenshots
/forge/**/mods
#/forge/**/world
/forge/**/world_nether
/forge/**/world_the_end
/forge/**/eula.txt
/forge/**/logs
/forge/**/config
/forge/**/options.txt
/forge/**/server.properties
/forge/**/ops.json
/forge/**/whitelist.json
/forge/**/usernamecache.json
/forge/**/banned-players.json
/forge/**/banned-ips.json
/forge/**/src/main/resources/assets
/forge/**/world/*.dat
/forge/**/world/*.dat_old
/forge/**/world/*.lock
/forge/**/world/*.dat_old
/forge/**/world/*.mca
/forge/**/world/*.json
/forge/**/plugins