\.gradle
\.metadata
\.classpath
\.project
\.settings
\build
\bin
\eclipse
Thumbs.db

## Client/Server Test Files
\mods
\logs
\config
\saves
\resourcepacks
\crash-reports
\eula.txt
\options.txt
\server.properties
\whitelist.json
\usernamecache.json
\usercache.json
\ops.json
\banned-players.json
\banned-ips.json
\world
\world_nether
\world_the_end